.lista {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  border: 1px solid #29292f;
  padding: 1rem;
  color: #dadada;
  line-height: 24px;
}

.lista .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lista .top p {
  font-size: 12px;
  font-weight: 600;
}

.lista .top button {
  background: transparent;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.3s;
}

.lista .top button img {
  width: 18px;
  height: 18px;
}

.lista .top button:hover {
  transform: scale(1.2);
}

.lista .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lista .bottom span {
  font-size: 14px;
}
